@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Work Sans',
        sans-serif;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 100%;
}

/* Second Div */

.portals-column {
    height: 800px;
    width: 600px;
    padding: 5rem 5rem 0 5rem;
}

.portals,
.most-used,
.tpls-otisp,
.tick,
.general,
.mainstream,
.restream,
.liquid,
.others,
.footer-div {
    display: flex;
}

.portal-item1 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.portal-item2 {
    display: inline-block;
    margin-left: 10px;
    background-color: #149d4f;
    border-radius: 6px;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: #fff;
    align-self: center;
    padding-top: 3px;
}

.portal-item3 {
    align-self: center;
    font-size: 11px;
    font-weight: bold;
}

.search input {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    background-image: url('./images/search.png');
    background-repeat: no-repeat;
    background-position: 400px;
}

.search input:focus {
    outline: 0;
}

.most-used-item1,
.tpls-text,
.otisp-text,
.footer-div {
    color: #787878;
}

.tpls,
.otisp {
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 7px;
}

.tpls,
.otisp:active {
    border: #64c98f 1px solid;
}

.tpls-bold {
    margin: 0 auto;
}
.check {
    background: #149d4f;
}
.otisp-bold {
    margin-bottom: 0;
}

.otisp-bold,
.tpls-bold {
    font-weight: bold;
}

.tpls-text,
.otisp-text {
    font-size: 10px;
    font-weight: bold;
}

.otisp {
    margin-left: 15px;
}

.most-used-item2,
.arrow-up,
.tick-item,
.portal-item3 {
    margin-left: auto;
    color: #787878;
}

.arrow-up {
    align-self: center;
}

.general-to-others {
    font-size: large;
    font-weight: 600;
    padding: 10px 0 10px 0;
    color: #787878;
}

.general-to-others-hr,
.portal-hr{
    border-style: inset;
    border-bottom: thin;
}

.general-to-others-hr-last {
    margin-bottom: 55px;
}

.footer-div {
    font-size: 12px;
    font-weight: bold;
}

.footer-left {
    padding-left: 10px;
}

.right-footer {
    margin-left: auto;
    align-content: space-around;
}

.vertical-item {
    display: inline-block;
    height: 10px;
    background-color: #787878;
    border-right: 1px solid #787878;
}

.remitta-image {
    max-width: 350px;
}

/* Modify search placeholder text */
.search-placeholder::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #787878;
    font-size: small;
}

.search-placeholder:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #787878;
    font-size: small;
}

.search-placeholder::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #787878;
    font-size: small;
}

.search-placeholder:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #787878;
    font-size: small;
}



/* logo column */

.logo-column:not(.login-div-item2) {
    color: #f4f4f4;
}

.logo-column {
    background-image: url('./images/Left_image.png');
    height: 800px;
    width: 550px;
    padding: 5rem 7rem 0 7rem;
    background-size: cover;
}

.logo-div,
.MGPS-div,
.login-div {
    display: flex;
}
.logo-text {
    width: 200px;
    margin-left: 20px;
}
.logo-image {
    width: 70px;
    height: 60px;
    margin-top: 10px;
}
.MGPS {
    width: 250px;
}
.MGPS-text {
    margin-top: 0;
    font-weight: normal;
}

.logo-column-hr1 {
    border-style: inset;
    border-bottom: thin;
}

.login-div-item1 {
    font-size: large;
    font-weight: 600;
}

.login-div-item3 {
    padding-left: 7px;
    color: #fca927;
}

.MGPS-div-item2 {
    cursor: pointer;
    height: 20px;
    align-self: center;
    border-radius: 6px;
    color: #fff;
    background: #e5b43e;
    border: 1px solid #e5b43e;
    font-size: x-small;
    margin-left: 20px;
}

.logo-column-hr2 {
    width: 130px;
    margin-left: 0;
    border: solid 1.5px #fca927;
    margin: 35px 0 35px 0;
}

.login-div {
    margin-bottom: 25px;
}

.login-div-item2 {
    margin-left: auto;
    color: #fca927;
    font-weight: normal;
    font-size: smaller;
}

form {
    margin-top: 12px;
}

.form-control {
    margin-bottom: 10px;
}

.form-control small {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 10px;
}

form input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    background-color: rgba(46, 156, 93, 0.5);
}

form input:focus {
    outline: 0;
    border-color: #e5b43e;
}

form button {
    cursor: pointer;
    background-color: #e5b43e;
    border: 1px solid #e5b43e;
    border-radius: 7px;
    padding: 12px 20px 12px 20px;
    color: #fff;
    margin: 10px 0 60px 0;
    outline: none;
}

.remitta-image {
    max-width: 350px;
}

/* Modify form placeholder text */
.change::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff;
    font-size: small;
}

.change:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    font-size: small;
}

.change::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    font-size: small;
}

.change:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
    font-size: small;
}

