* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 100%;
}

.flex-item {
    /* background: #f4f4f4; */
    /* border: #ccc solid 1px; */
}

.portals,
.most-used,
.tpls-otisp,
.tick,
.general,
.mainstream,
.restream,
.liquid,
.others {
    display: flex;
}

.portals-column {
    height: 800px;
    width: 600px;
    padding: 5rem 5rem 0 5rem;
}

.search input {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    background-image: url('./images/search-icon.png');
    background-repeat: no-repeat;
    background-position: right;
}

.most-used-item2,
.arrow-up,
.tick-item,
.portal-item3 {
    margin-left: auto;
}

.portal-item1 {
    font-size: 2rem;
    font-weight: 600;
}

.portal-item2 {
    display: inline-block;
    margin-left: 10px;
    background-color: green;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    font-size: larger;
    color: #fff;
    align-self: center;
}

.portal-item3 {
    align-self: center;
}



.tpls,
.otisp {

    width: 150px;
    padding: 10px;
    border-radius: 8px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tpls {
    border: green 1px solid;
}

.check {
    background: greenyellow;
}

.otisp {
    margin-left: 15px;
   
}

.general-to-others {
    font-size: large;
    font-weight: 600;
    padding: 10px 0 10px 0;
}

/* logo column */
.logo-column {
    background-image: url('./images/Left_image.png');
    height: 800px;
    width: 600px;
    align-self: center;
    padding: 5rem 7rem 0 7rem;
}

.logo-image {
    width: 70px;
    height: 60px;
    margin-top: 10px;
}


.logo-div {
    display: flex;
}

.MGPS {
    max-width: 250px;
}

.MGPS-text {
    margin-top: 0;
}

.logo-text {
    max-width: 200px;
}

.login-div-item3 {
    padding-left: 5px;
}

.logo-text,
.MGPS-div-item2 {
    margin-left: 20px;
}


.MGPS-div-item2 {
    cursor: pointer;
    height: 20px;
    align-self: center;
    border-radius: 6px;
    color: #fff;
    background: yellow;
    border: 1px solid yellow;
}

.logo-column-hr2 {
    width: 100px;
    margin-left: 0;
    border: solid 1.5px yellow;
    margin: 35px 0 35px 0;
}

.MGPS-div {
    display: flex;
}

.login-div {
    display: flex;
    margin-bottom: 25px;
}

.login-div-item2 {
    margin-left: auto;
    color: yellow;
}

form {
    margin-top: 12px;
}

.form-control {
    margin-bottom: 10px;
}

.form-control small {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;

}

form button {
    cursor: pointer;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 7px;
    padding: 12px 20px 12px 20px;
    color: #fff;
    margin: 10px 0 60px 0;
}

.remitta-image {
    max-width: 350px;
}