* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 100%;
}

/* .flex-item {
    background: #f4f4f4;
    border: #ccc solid 1px;
} */

.portals,
.most-used,
.tpls-otisp,
.tick,
.general,
.mainstream,
.restream,
.liquid,
.others {
    display: flex;
}

.portals-column {
    height: 800px;
    width: 600px;
    padding: 5rem 5rem 0 5rem;
}

.search input {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    background-image: url('./images/search-icon.png');
    background-repeat: no-repeat;
    background-position: right;
}
.most-used-item1,
.tpls-text,
.otisp-text{
    color: #787878;
}

.most-used-item2,
.arrow-up,
.tick-item,
.portal-item3 {
    margin-left: auto;
    color: #787878;
}

.portal-item1 {
    font-size: 2rem;
    font-weight: 600;
}

.portal-item2 {
    display: inline-block;
    margin-left: 10px;
    background-color: #149d4f;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    font-size: larger;
    color: #fff;
    align-self: center;
}

.portal-item3 {
    align-self: center;
}



.tpls,
.otisp {

    width: 150px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tpls, .otisp:active {
    border: #64c98f 1px solid;
}
.tpls-bold{
    margin: 0 auto;
}
.check {
    background: #149d4f;
}

.otisp {
    margin-left: 15px;
   
}

.general-to-others {
    font-size: large;
    font-weight: 600;
    padding: 10px 0 10px 0;
    color: #787878;
}
.general-to-others-hr{
    color: #787878;
}
.general-to-others-hr-last{
    margin-bottom: 55px;
}
/* logo column */
.logo-column:not(.login-div-item2) {
    color: #f4f4f4;
}
.logo-column {
    background-image: url('./images/Left_image.png');
    height: 800px;
    width: 600px;
    align-self: center;
    padding: 5rem 7rem 0 7rem;
}

.logo-image {
    width: 70px;
    height: 60px;
    margin-top: 10px;
}


.logo-div {
    display: flex;
}

.MGPS {
    max-width: 250px;
}

.MGPS-text {
    margin-top: 0;
}

.logo-text {
    max-width: 200px;
}

.login-div-item1{
    font-size: large;
    font-weight: 600;
}
.login-div-item3 {
    padding-left: 7px;
    align-self: flex-end;
    color: #fca927;
    ;
}

.logo-text,
.MGPS-div-item2 {
    margin-left: 20px;
}


.MGPS-div-item2 {
    cursor: pointer;
    height: 20px;
    align-self: center;
    border-radius: 6px;
    color: #fff;
    background: #e5b43e;
    border: 1px solid #e5b43e;
}

.logo-column-hr2 {
    width: 100px;
    margin-left: 0;
    border: solid 1.5px #fca927;
    margin: 35px 0 35px 0;
}

.MGPS-div {
    display: flex;
}

.login-div {
    display: flex;
    margin-bottom: 25px;
}

.login-div-item2 {
    margin-left: auto;
    color: #fca927;
}

form {
    margin-top: 12px;
}

.form-control {
    margin-bottom: 10px;
}

.form-control small {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    background-color: inherit
}

form input:focus{
    outline: 0;
    border-color: #e5b43e;
}

form button {
    cursor: pointer;
    background-color: #e5b43e;
    border: 1px solid #e5b43e;
    border-radius: 7px;
    padding: 12px 20px 12px 20px;
    color: #fff;
    margin: 10px 0 60px 0;
}

.change::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff;
    font-size: small;
}

.change:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
   font-size: small;
}

.change::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
   font-size: small;
}

.change:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
    font-size: small;
}

.remitta-image {
    max-width: 350px;
}